
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <p>
        @Html.ActionLink("Change Pickup Day", "PickupDay")
    </p>
    <p>
        @Html.ActionLink("Schedule an Extra Pickup", "ExtraPickup")
    </p>
    <p>
        @Html.ActionLink("Suspend Pickups", "Suspension")
    </p>
    <p>
        @Html.ActionLink("View Payment Owed", "PaymentOwed")
    </p>
</div>

