@using TrashCollector.Models
@model List<Pickup>
@{
    ViewBag.Title = "PaymentOwed";
}

<h2>Payment Due for this Month's Pickups</h2>

<table>
    <thead>
        <tr>
            <td>Date</td>
            <td> Cost</td>
        </tr>
    </thead>
@foreach(Pickup pickup in Model)
{
        <tr>
            <td>@pickup.Date.Date.ToString("dd/MM/yyyy") </td>
            <td>$@pickup.Cost</td>
        </tr>
}
<tr>
    <td>Total:</td>
    <td>$@Model.Select(p => p.Cost).Sum()</td>
</tr>
</table>

