@model TrashCollector.Models.ApplicationUser
@{
    ViewBag.Title = "PickupDay";
}

<h2>PickupDay</h2>

@Html.Label("Current Pickup Day: ")
<span>
    @Model.PickupDay
</span>
@Html.Label("Change Pickup Day: ")
@{ List<string> dayList = new List<string>() { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday" };}
@Html.DropDownList("Pickup Day", new SelectList(dayList))
<input type="submit" class="btn btn-default" value="Register"/>

